/****** CSS RESET ******/
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: white;
}

/****** CSS UTILS ******/
.container {
    width: 1200px;
    margin: 0 auto;
}

.pdn {
    padding: 5rem 0;
}

.flex {
    display: flex;
}

.brd {
    border: 2px dashed black;
}

p {
    line-height: 1.5rem;
    font-size: 14px;
    padding: 1.5rem 0 1rem;
}

.mh-25 {
    min-height: 25rem;
}

.mh-20 {
    min-height: 20rem;
}

.mh-35 {
    min-height: 35rem;
}

.fb-60 {
    flex-basis: 60%;
}

.fb-40 {
    flex-basis: 40%;
}

.fb-30 {
    flex-basis: 30%;
}

.fb-70 {
    flex-basis: 70%;
}

.padding {
    padding: 0.5rem 0 1rem;
}

/****** CSS HEADER ******/
.header {
    background-color: #255EE9;
    padding: 2rem 0;
}

header .logo {
    height: 25px;
    width: 120px;
}

.small-nav {
    width: 25%;
}

.big-nav {
    width: 50%;
}

ul.flex {
    justify-content: center;
    list-style-type: none;
}

li {
    padding: 0 0.5rem;
}

a {
    text-decoration: none;
    color: white;
}

#login {
    border-radius: 30px;
    padding: 0.5rem 1rem;
    margin-left: 13rem;
}


.jumbo {
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.content-jumbo {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding: 5rem;
}

.btn-white,
.btn-black,
.btn-blue {
    padding: 0.7rem;
    border-radius: 10rem;
}

.btn-black {
    background-color: black;
    color: white;
}

/****** CSS MAIN ******/
main > section {
    color: black;
}

section .ta-left {
    text-align: left;
}

section .p-left {
    padding: 1rem 10rem 0 0;
}

section .p-right {
    padding: 1rem 0 0 10rem;
}


h2 {
    font-size: 30px;
}

section img {
    height: 300px;
    width: 800px;
}

section .ta-center {
    text-align: center;
}

div.ta-center > p {
    padding: 1rem 15rem 0;
    margin: 0;
}

div.ta-center > img {
    height: 500px;
}

div.ta-center > .star {
    height: 100px;
    width: 400px;
}

h3 {
    padding-bottom: 2rem;
}

.btn-blue {
    background-color: #7289DA;
    color: white;
}

.bg-white {
    background-color: #FFFFFF;
}

.bg-gray {
    background-color: #D3D3D3;
}

/****** CSS FOOTER ******/

.bg-black {
    background-color: #23272A;
}

footer .color {
    color: #6986D7;
}

footer ul {
    list-style-type: none;
}

footer li {
    padding: 1rem 0;
    font-size: 12px;
}

div.list-footer {
    flex-basis: calc(100% / 4);
    padding: 0 2.5rem;
}

.mh-5 {
    min-height: 5rem;
}

.between {
    justify-content: space-between;
}

div.center {
    align-items: center;
}

.brd-top {
    border-top: 2px solid #6986D7;
}

.brd-top div {
    padding: 1rem 0;
}

.flag-it {
    height: 20px;
    width: 30px;
}